{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 27, "knowledge_revision": 56, "git_revision": "", "hash": "cc8a7ddcdf21bc3effda06954613b732", "format-version": 4, "code-base-name": "default", "filename": "student_exam_api_workspace/student_exam_api/requirements.txt", "revision_history": [{"56": ""}]}